{% extends '_base.html' %}
{% load static %}


{% block title %}Django Movie Database{% endblock title %}

{% block statichead %}
<!-- Custom CSS and JS -->
<link rel="stylesheet" href="{% static 'movies/css/home.css' %}">
{% endblock statichead %}


{% block content %}
    <section class="hero">
        <div class="hero-copy">
            <h1 class="hero-title mt-0">Movie-It</h1>
            <p class="hero-paragraph">You Rate. We Recommend.</p>
            <div class="hero-cta">
                <a class="button button-primary" href="{% url 'movie_list' %}">Movies</a>
                <a class="button" href="#">About</a>
            </div>
        </div>
    </section>
{% endblock content %}


