{% extends '_base.html' %}
{% load static %}

{% block title %}Django Movie Database{% endblock title %}

{% block statichead %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
	<link href="{% static 'movies/css/styles.css' %}" rel="stylesheet">
{% endblock statichead %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar %}

{% block homepage %}
<div class="top-div">

    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="h1-large">YOU RATE<br> WE<br> RECOMMEND</h1>
                </div>
                <div class="col-lg-6">
                    <div class="button-container">
                        <a class="btn-solid-lg" href="{% url 'movie_list' %}">Movies</a>
                        <a class="btn-outline-lg" href="{% url 'about' %}">About</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </div>
{% endblock homepage %}
