{% extends '_base.html' %}
{% load static %}
{% load custom_filters %}


{% block title %}Movies{% endblock title %}
{% block content %}

<div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active"><h2>Movies</h2></li>
      </ol>
      <table class="table">
        <thead class="thead-dark">
          <tr align="center">
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Rating (avg)</th>
             {% if user.is_authenticated %}
                <th>Rate it!</th>
             {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for movie in movie_list %}
            <tr>
              <td><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></td>
              <td align="center">{{ movie.year }}</td>
              <td align="center">
                  {% for genre in movie.genre.all %}
                    {% if forloop.last %}
                        <a href="#">{{ genre }}</a>
                    {% else %}
                         <a href="#">{{ genre }}</a>,
                    {% endif %}
                  {% endfor %}
              </td>
              <td align="center">{{ movie.user_rating.count }}</td>
              {% if user.is_authenticated %}
              <td nowrap="nowrap">
                {% include 'movies/star_rating.html' %}
              </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br>
    {% include "movies/pagination.html" %}
{% endblock content %}