<div id="{{ movie.movie_id }}">
  <div class="rating pointer">
    <form class="rate-form" action="" method="POST">
        {% csrf_token %}
        {% if movie.user_rating.first.user_rating >= 1 %}
            <span type="submit" class="fa fa-star fa-2x checked star-btn"></span>
        {% else %}
            <span type="submit" class="fa fa-star fa-2x star-btn"></span>
        {% endif %}

        {% if movie.user_rating.first.user_rating >= 2 %}
            <span type="submit" class="fa fa-star fa-2x checked star-btn"></span>
        {% else %}
            <span type="submit" class="fa fa-star fa-2x star-btn"></span>
        {% endif %}

        {% if movie.user_rating.first.user_rating >= 3 %}
            <span type="submit" class="fa fa-star fa-2x checked star-btn"></span>
        {% else %}
            <span type="submit" class="fa fa-star fa-2x star-btn"></span>
        {% endif %}

        {% if movie.user_rating.first.user_rating >= 4 %}
            <span type="submit" class="fa fa-star fa-2x checked star-btn"></span>
        {% else %}
            <span type="submit" class="fa fa-star fa-2x star-btn"></span>
        {% endif %}

        {% if movie.user_rating.first.user_rating >= 5 %}
            <span type="submit" class="fa fa-star fa-2x checked star-btn"></span>
        {% else %}
            <span type="submit" class="fa fa-star fa-2x star-btn"></span>
        {% endif %}
    </form>
  </div>
</div>