body {
    background: #1d2026;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

body {
    color: #8a94a7;
    font-size: 1rem;
}
body,
button,
input,
select,
textarea {
    font-family: "IBM Plex Sans", sans-serif;
}

.button {
    display: inline-flex;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none !important;
    text-transform: uppercase;
    background-color: #242830;
    color: #fff !important;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
    height: 48px;
    text-align: center;
    white-space: nowrap;
}
.button:hover {
    background: #262a33;
}
.button:active {
    outline: 0;
}
.button::before {
    border-radius: 2px;
}
.button-sm {
    padding: 8px 24px;
    height: 32px;
}
.button-primary {
    background: #097dea;
    background: linear-gradient(65deg, #0270d7 0, #0f8afd 100%);
}
.button-primary:hover {
    background: #0982f4;
    background: linear-gradient(65deg, #0275e1 0, #198ffd 100%);
}
.button-block {
    display: flex;
}
.button-block {
    display: flex;
    width: 100%;
}
@media (max-width: 640px) {
    .button-wide-mobile {
        width: 100%;
        max-width: 280px;
    }
}
.hero {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 88px;
}
.hero-copy {
    position: relative;
    z-index: 1;
}
.hero-cta {
    margin-bottom: 40px;
}
.hero-copy {
    padding-right: 64px;
    min-width: 552px;
    width: 552px;
}
.hero-cta {
    margin: 0;
}
.hero-cta .button {
    min-width: 170px;
}
.hero-cta .button:first-child {
    margin-right: 16px;
}

.is-boxed {
    background: #242830;
}
.body-wrap {
    background: #1d2026;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0 24px 48px rgba(21, 24, 29, 0.24);
    mix-blend-mode: multiply;
    mix-blend-mode: normal;
}