.checked {
  color: orange;
}

.rating{
    user-select: none;
}

.star-btn {
    background-color: inherit !important;
    border: 0 !important;
}

.navbar-brand{
    position: absolute;
    top: 10px;
}
.navbar-home{
    margin-left:80px
}