body,
button,
input,
select,
textarea {
    font-family: "IBM Plex Sans", sans-serif;
}

.checked {
  color: orange;
}

.rating{
    user-select: none;
}

.star-btn {
    background-color: inherit !important;
    border: 0 !important;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #737373;
}

/* selected link */
a:active {
  color: black;
}

.navbar-brand{
    position: absolute;
    top: 10px;
}
.navbar-home{
    margin-left:100px
}
.nav-sep{
  border-right: 1px solid rgba(255,255,255,.3);
  margin-right: 10px;
}