{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="{% static 'favicon/favicon.ico' %}"/>
    <title>{% block title %}DjangoMovieDatabase{% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <!-- Custom CSS and JS -->
    <link rel="stylesheet" href="{% static 'movies/css/movies.css' %}">
    <script src="{% static 'movies/js/movies.js' %}" defer></script>
    {% block statichead %}{% endblock statichead %}
</head>
<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}
    <br>
    <br>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>