{% load static %}

{% block statichead %}
<!-- Custom CSS and JS -->
<link rel="stylesheet" href="{% static 'movies/css/movies.css' %}">
<script src="{% static 'movies/js/movies.js' %}" defer></script>
{% endblock statichead %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand navbar-left" href="{% url 'home' %}">
            <img src="{% static 'movies/images/movie-it-logo.png' %}" width="80" height="80" alt="">
          </a>
        </li>
        <li class="nav-item navbar-home">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movie_list' %}">Movies</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
        <li class="nav-item nav-sep">
          <a class="nav-link" href="{% url 'recommendation' %}">Recommendation</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.email }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a class="dropdown-item" href="{% url 'account' %}">My account</a>
            <a class="dropdown-item" href="{% url 'user_stars_list' %}">My stars</a>
            <a class="dropdown-item" href="#">Change password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
        </li>
        {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
          <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
        </form>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>