{% extends '_base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<h1 class="text-center">Password Change</h1>
<br>
<div class="container col-10">
    <ul class="list-group">
        <li class="list-group-item list-group-item-warning">Your password can’t be too similar to your other personal information.</li>
        <li class="list-group-item list-group-item-warning">Your password must contain at least 8 characters.</li>
        <li class="list-group-item list-group-item-warning">Your password can’t be a commonly used password.</li>
        <li class="list-group-item list-group-item-warning">Your password can’t be entirely numeric.</li>
    </ul>
</div>

<br><br>
<div class="form-group container col-10">
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary float-right">Change Password</button>
</form>
</div>
{% endblock content %}