{% extends '_base.html' %}
{% load static %}

{% block title %}
    {% if 'login' in request.get_full_path %}
        Login
    {% else %}
        Signup
    {% endif %}
{% endblock title %}

{% block statichead %}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock statichead %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col-md-6 mx-auto p-0">
            <div class="card">
                <div class="login-box">
                    <div class="login-snip">
                        {% if 'login' in request.get_full_path %}
                            <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                        {% else %}
                            <input id="tab-1" type="radio" name="tab" class="sign-in">
                        {% endif %}
                        <label for="tab-1" class="tab">Login</label>
                        {% if 'login' in request.get_full_path %}
                            <input id="tab-2" type="radio" name="tab" class="sign-up">
                        {% else %}
                            <input id="tab-2" type="radio" name="tab" class="sign-up" checked>
                        {% endif %}
                        <label for="tab-2" class="tab">Sign Up</label>
                        <div class="login-space">
                            <div class="login">
                                <form method="post">
                                    {% csrf_token %}
                                    {% if login_form.non_field_errors %}
                                        <div class="alert alert-error">
                                            {% for error in login_form.non_field_errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if 'success' in message.tags %}
                                                <h5 style="color: lawngreen">{{ message }}</h5>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <div class="group">
                                        <label for="id_username" class="label">Email Address</label>
                                        <input type="text" class="input" name="username" autofocus="" autocapitalize="none" autocomplete="email" maxlength="100" required="" id="id_username" placeholder="Enter your email address">
                                    </div>
                                    <div class="group">
                                        <label for="id_password" class="label">Password</label>
                                        <input type="password" class="input" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Enter your password">
                                    </div>
                                    <div class="group">
                                        <input type="submit" name="login" class="button" value="Sign In">
                                    </div>
                                </form>
                                <div class="hr"></div>
                                <div class="foot"> <a href="#">Forgot Password?</a> </div>
                            </div>
                            <div class="sign-up-form">
                                <form method="post">
                                    {% csrf_token %}
                                     {% if signup_form.non_field_errors %}
                                        <div class="alert alert-error">
                                            {% for error in signup_form.non_field_errors %}
                                                <h6 style="color: red">{{ error }}</h6>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    {% for field in signup_form %}
                                        {% for error in field.errors %}
                                            <h6 style="color: red">{{ error }}</h6>
                                        {% endfor %}
                                    {% endfor %}

                                    <div class="group">
                                        <label for="id_email" class="label">Email Address</label>
                                        <input type="email" name="email" class="input" maxlength="100" autofocus="" required="" id="id_email" placeholder="Enter your email address">
                                    </div>
                                    <div class="group">
                                        <label class="label" for="{{ signup_form.date_of_birth.id_for_label }}">Date of birth:</label>
                                        <input class="input" type="date" name="{{ signup_form.date_of_birth.name }}" required="" id="{{ signup_form.date_of_birth.id_for_label }}">
                                    </div>
                                    <div class="group">
                                        <label for="{{ signup_form.gender.id_for_label }}" class="label">{{ signup_form.gender.name }}</label>
                                        <select class="select" name="{{ signup_form.gender.name }}" required="" id="{{ signup_form.gender.id_for_label }}">
                                            {% for pk,value in signup_form.gender.field.choices %}
                                                <option value="{{ pk }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if signup_form.gender.errors %}
                                            <ol>
                                            {% for error in signup_form.gender.errors %}
                                                <li><strong>{{ error|escape }}</strong></li>
                                            {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                    <div class="group">
                                        <label for="{{ signup_form.country.name }}" class="label">{{ signup_form.country.name }}</label>
                                        <select name="{{ signup_form.country.name }}" required="" id="{{ signup_form.country.name }}">
                                            {% for pk,value in signup_form.country.field.choices %}
                                                <option value="{{ pk }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="group">
                                        <label for="id_password1" class="label">Password</label>
                                        <input type="password" name="password1" class="input" data-type="password" autocomplete="new-password" required="" id="id_password1" placeholder="Create your password">
                                    </div>
                                    <div class="group">
                                        <label for="id_password2" class="label">Repeat Password</label>
                                        <input type="password" name="password2" class="input" data-type="password" autocomplete="new-password" required="" id="id_password2" placeholder="Repeat your password">
                                    </div>
                                    <div class="group">
                                        <input type="submit" name="signup" class="button" value="Sign Up">
                                    </div>
                                </form>
                                <div class="hr"></div>
                                <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}